<post-standalone heading-shift="-1" />

##! <a href="year2021/february/tue_23">23 Tue: Splendid is Splendid</a>

<span text-center float-right>
  <img width="100px" border rounded src="./img/sidebar2.gif" img-fluid alt="sidebar demo" />
</span>

<seo>Splendid is Splendid</seo>


I had to update the `sidebar` component to the new splendid api that allows to resolve paths to css files relative to the component directory using the `.elementRelative` path. This allows to create a new folder like `elements/sidebar` and move `sidebar.jsx` -> ``elements/sidebar/index.jsx``, while creating a stylesheet at ``elements/sidebar/sidebar.css``. Then in the element's function body we call 2 lines:

```js
const CLASS = 'SideBarMenu'
const cssPath = splendid.elementRelative('./sidebar.css')
const {
  $SideBarContent, $HideMenu, $ShowMenu, $sidebarshowing,
} = splendid.css(cssPath, `.${CLASS}`)
```

The convention is to destructure class names with the $ prefix for variable names as it's immediately clear that these are css-related variables that indicate the name of the class they hold. As we remember, the purpose of the `.css` function is to compile css stylesheets while prefixing it with a root prefix which is normally the class name of the component.

<post-cut>
  <a btn btn-info href="year2021/february/tue_23">Read Full Post &gt;</a>
  <section-break />
</post-cut>