###! Debugging Combined CSS

During this refactoring I came across the problem in splendid which was remedied previously by clearing the cache that the stylesheets that are compiled this way are not recombined with the total CSS meant to be generated with the `combine-css` element responsible for gathering the list of all stylesheets marked for combination, and putting them together. It's also possible to embed such combined stylesheet on the page for faster loading of the page but this feature was turned off.

Instead of usual approach to debugging the problem with the interactive debugger in the IDE that would allow to set breakpoints and observe variables, we decided to use the existing ``log`` and ``logError`` functions for better visibility of internal processes that are run by the element, in this case the `combine-css` run-template-stage code. This means that the CSS stylesheets are combined once all pages are built on them. The additional logging now remains enabled and is deemed to verbose, therefore an extra `logDebug` method should be created to control verbosity which isn't needed when not debugging. However, it's still good to have the capability for the developer seeing what the component is doing in more details.

<p text-center>
  <img src="./img/logging-verb.gif" img-fluid alt="logging verbosity" />
</p>

With a little bit of effort, the mess above is transformed into a nice-for-perception feed of micro-information that might be interesting to see when running in the debug mode. To enable the debug mode, the `MAURICE_DEBUG` flag should be set as the environment variable. Using the visual block separators as well as colour, we're able to better present some technical information to the developer. The advantage of the logging technique over constant jumping in on a debugger is that it forms part of the debugging infrastructure and would ensure the possibility to understand what's going on better for engineers that are running compiled code already and are not necessarily have access to the source code which is normally upheld by the vendor.

<p text-center>
  <img src="./img/better-logging.png" img-fluid alt="better logging faculty" />
</p>

Having logging enabled, the root of the problem was easily found. It was in the simple fact that during previous refactoring in accordance with the organisation's target to switch to the `for of/in` loop in preference to the .reduce and .forEach methods, the standard `return acc` wasn't refactored properly which is the single most common error encountered during the transitioning process. As the `for of` loop isn't supposed to be returned from but rather the ``continue`` keyword must be placed instead, this wasn't foreseen and resulted in the date comparison of only the first file as the hash map of files and their dates was formed by iterating the array with style paths, however after the first iteration, the function, having kept the `return` instead of ``continue`` wasn't performing correctly. This could have been prevented by the presence of unit-tests, however as the whole project is in the MRS (Massive Refactoring State), problems were expected, and we actually knew about this bug, and fixed it with clearing of cache before production builds.

<p text-center>
  <img src="./img/reduce-fix.png" img-fluid alt="fix refactoring mistake" />
</p>

With the combined-css post-processing fixed, we can talk about the changes to the sidebar.

</div>
