{
  "content": "<h1 id=\"2021-posts\">2021 Posts</h1>\n\n<p>These are the posts for 2021.</p>\n\n<h2 id=\"roadmap\">Roadmap</h2>\n\n<p>These are the requirements that we've come up with during blogging. Some are big, and others are smaller, but the goal is to add them to Art Deco Software.</p>\n\n<ul>\n  <li>In <em>Splendid</em>, standardise the pre-processing pass for the layout stream and document it. <a href=\"/blog/year2021/february/26-fri-essential-blogging.html\">FEB26A</a></li>\n  <li>In Exposure Stylesheets, add the ability to select a rule from a stylesheet, and inspect its value. <a href=\"/blog/year2021/february/26-fri-essential-blogging.html\">FEB26B</a></li>\n</ul>",
  "file": "./index",
  "postAjax": "(function imgPostAjax() {\n  /* eslint-env browser */\n  window['IO']()\n  window['WEBP']()\n})()"
}