/*# A debug pretty version for visual diffs */
* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
footer, main {
  display: block;
}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h1, h2, h3 {
  margin-top: 0;
}
p, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
img {
  vertical-align: middle;
  border-style: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
h1, h2, h3 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col, .col-md-3, .col-md-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
@media (min-width:768px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.rounded {
  border-radius: .25rem !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.h-100 {
  height: 100% !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.mt-auto {
  margin-top: auto !important;
}
.text-center {
  text-align: center !important;
}
@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  *::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
@page {
    size: a3;
  }
  body, .container {
    min-width: 992px !important;
  }
}
.SectionBreak {
  text-align: center;
}
.hljs {
  font-size: larger;
}
.RightColumn {
  line-height: 1.5rem;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.LeftColumn ul {
  list-style-type: none;
}
.tm, .tm2, .hljs {
  word-break: break-all;
  font-family: 'Source Code Pro' , monospace;
  padding: 0 2px;
  border-radius: 2px;
  cursor: pointer;
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
}
.tm {
  background-color: #cfffd2;
  border-bottom: 1px solid #90bd93;
  border-right: 1px solid #90db93;
  color: darkgreen;
}
.tm:active:hover {
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #90bd93;
  border-left: 1px solid #90db93;
}
.tm2 {
  background-color: #fffad5;
  color: #a08124;
  border-right: 1px solid #e0d68e;
  border-bottom: 1px solid #dace79;
}
.tm2:active:hover {
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #e0d68e;
  border-left: 1px solid #dace79;
}
body {
  font-family: 'Ruda' , sans-serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #423230;
  text-decoration: underline;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  color: #50160e;
}
footer {
  padding: 1em;
  border-top: 1px dashed;
}
ul>li.Active {
  font-weight: 700;
}
ul>li.Active>ul {
  font-weight: initial;
}
.SideBarMenu {
  max-height: 100vh;
  overflow: auto;
}
.SideBarMenu:hover .a {
  text-shadow: 1px 1px #dedede;
}
.SideBarMenu .a {
  display: block;
  color: grey;
}
.SideBarMenu .b {
  display: none;
}
.SideBarMenu.c .b {
  display: block;
}
@keyframes _fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes _fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes _fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes _fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
.OnThisPage li.Active>a {
  font-weight: 700;
}
.OnThisPage li.Active~li.Active>a {
  font-weight: normal;
}
.OnThisPage li>ul {
  display: none;
}
.OnThisPage li.Active>ul {
  display: block;
}
.OnThisPage li.Active~li.Active>ul {
  display: none;
}
.OnThisPage {
  -webkit-padding-start: 0;
}
