* {
  -webkit-box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: border-box;
}
*::after {
  -webkit-box-sizing: border-box;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.col {
  -webkit-flex-basis: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
}
@media (min-width:768px) {
  .col-md-3 {
    -webkit-box-flex: 0 0 25%;
    -moz-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
  }
  .col-md-9 {
    -webkit-box-flex: 0 0 75%;
    -moz-box-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
  }
}
.rounded {
  -webkit-border-radius: .25rem !important;
  -moz-border-radius: .25rem !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
}
.flex-column {
  -webkit-flex-direction: column !important;
}
.flex-shrink-0 {
  -webkit-flex-shrink: 0 !important;
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
}
@media print {
  * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::before {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::after {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}
.RightColumn {
  -moz-hyphens: auto;
}
.tm, .tm2, .hljs {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-hyphens: none;
}
