<footer container-fluid mt-auto>
  <row>
    <column>
      &copy; {{ company }}, <year/>
    </column>
    <column>
      <a href="index">2021</a>
      <a href="year2020/index">2020</a>
    </column>
  </row>
</footer>