<head>
  <meta charset="utf-8">
  <page-title />
  <meta-description />
  <bootstrap-css rename drop />
  <combine-css />
  <icon href="img/favicon.png"/>
  <google-font advanced unicode-range-latin="U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD">
    Ruda:400,700
    Great Vibes
  </google-font>
  <google-font async>
    Source Code Pro
  </google-font>
</head>