<column md-3 LeftColumn>
  <div text-center>
    <a href="index">
      <img img-fluid rounded src="../img/st.jpg" alt="@artdeco/blog logo" photo />
    </a>
  </div>
  <div text-center mb-3>
    Art Deco is a professional Software Engineering company in London.
    <!-- <github-badge name="blog" org="art-deco" /> -->
    <!-- uncomment when published -->
    <!-- <npm-badge package="@artdeco/blog">_Blog_</npm-badge> -->
    <!-- <npm-badge package="splendid">_Splendid_</npm-badge> -->
  </div>

  ### Pages {{ page.year }}

  <pages dir="year2021" indexes />

  <sidebar pt-3 id="sidebar">
    ### On This Page

    <on-this-page max-level="3" />

    <social-buttons meta mb-3 d-inline-block />
  </sidebar>
</column>