##! 17 Tue

In the morning for a warm-up I moved the *Animation* component into Splendid as `@lemuria/animation`. It established using additional packages as sources for components and elements in Splendid.

Today I was working on adding styles' declarations to JSX: ``@a-la/styles`` 😀 This was good progress and also I found about which attributes interfere with style declarations, and removed some rules that only apply inside at-rules, but not on tags, such as

```css
@counter-style example {
  system: additive;
  additive-symbols: V 5, IV 4, I 1;
}
.list {
  list-style: example;
}
```

Here, additive-symbols are not applicable to elements so there's no need to publish them as a style. Same for `src`, `unicode-range`, `font-display` for ``@font-face`` and `user-zoom`, `min-zoom` and `max-zoom` for ``@viewport``. As for attributes, the following will be ignored on these elements:

<row>
  <column>
```json
{
  "hr": [
    "width",
    "color",
    "size"
  ],
  "pre": [
    "width"
  ],
  "img": [
    "width",
    "height",
    "alt"
  ]
}
```
  </column>
  <column>
```json
{
  "iframe": [
    "width",
    "height"
  ],
  "embed": [
    "width",
    "height"
  ],
  "object": [
    "width",
    "height",
    "border"
  ]
}
```
  </column>
  <column>
```json
{
  "video": [
    "width",
    "height"
  ],
  "input": [
    "width",
    "height",
    "size",
    "alt"
  ],
  "canvas": [
    "width",
    "height"
  ],
  "table": [
    "border"
  ]
```
  </column>
  <column>
```json
{
  "body": [
    "background"
  ],
  "meta": [
    "content"
  ],
  "br": [
    "clear"
  ],
  "select": [
    "size"
  ],
  "area": [
    "alt"
  ]
}
```
  </column>
</row>

Makes perfect sense. After finishing the first part of the day with styles, I focused on work on `@a-la/jsx` since I needed to integrate styles into it. But I started to refactor some code and getting more familiar with the package's source code. When you first create something, the code is kind of there, but as you spend more and more time working on code, refactoring and adding new lines, the package literally grows on you. It's a really positive feeling when you navigate through project easily, knowing by heart all functions and files.

<p text-center>
  <img img-fluid src="./img/styles.gif" alt="styles jsx syntax" />
</p>

There were a few bugs filed as issues on GitHub. The first one was about `export { exp as namedExport` } which threw an error, so I had to add a test and work backwards via test-driven development. The error was fixed easily, with a new test for a binary. The second issue was incorrect destructuring order, where all destructuring was put in the beginning without whitespace being preserved, which broke source map (although non-existent for JSX, for SSR in Node, there were modules' source maps which somewhat worked, but when destructuring removed a line, even they got shifted).

```jsx
const Comp = ({ test, ...props }) => (<div
  data-test
  {...props}
>Hello</div>)

// rendered as
const Comp = ({ test, ...props }) => (h('div', {...props,
  'data-test': true
},
 `Hello`)
```

which isn't correct, so I did an update to fix this. All properties get recorded in an object, but the key is that when `Object.keys` is used on this object, they can be iterated in the same order as they were added. This is technically undocumented and is not a standard, but it works and I can't be asked to changed into arrays.

*TODO*

- Handle `export { as }` in @frontend's hot reloading.

<section-break />