##! 18 Wed

This day I spent on implementing the source maps for JSX. The goal was to avoid building ASTs and only use RegExes to map transpiled entities into source code entities. This is a pretty complex task for regular expressions, therefore I had to make my job as easy as possible by keeping the lines in source code intact, and then do the mapping line by line by splitting the symbols by whitespace.

This is the same as with standards imports and exports in ÀLaMode, but there it was easier as words in transpiled code would always be at the same place as in the source, as imports are simply replaced with whitespace. With JSX though, it is different, because columns can shift:

<row>
  <column>

*ES6 transpilation*

```js
export const d = 'hello'
/* rest */

// becomes
        const d = 'hello'
/* rest */
module.exports = d
```
  </column>
  <column>

*JSX transpilation*

```jsx
const Comp = (<a id="world">{hello}</a>)

// becomes
const Comp = (h('a',{id:"world"},`hello`))
```
    </column>
</row>

In the example above, the transformation of the `a` tag has shifted columns, so that it's not possible to just split words by the whitespace and map them onto the same location in the source code like before.

This is an interesting and challenging problem, that required some thinking (I knew it would). At first, to approach and get more familiar with my code, I began to look at it and refactor some places that were redundant, as more recursion could be used.

_was_

```js
export const parseContent = (content, quoteProps = false, warn = null,
  config = {}) => {
  if (!content) return []
  // const C = content
  // .split('\n').filter(a => !/^\s*$/.test(a)).join('\n')
  const contents = parseSimpleContent(content) // split by expressions
  const jsx = contents.reduce((acc, string) => {
    if (string instanceof ExtractedJSX) {
      const { props = '', content: part, tagName } = string
      const { obj, usedClassNames } = getProps(props, {
        withClass: config.prop2class,
        classNames: config.classNames,
        renameMap: config.renameMap,
      })
      const children = parseContent(part, quoteProps, warn, config)
      const p = pragma(tagName, obj, children, { quoteProps, warn, usedClassNames })
      return [...acc, p]
    }
    const j = detectJSX(string)
    if (j) {
      const s = string.slice(j)
      const { string: { length }, props = '', content: part, tagName } = extract(s)
      const { obj, usedClassNames } = getProps(props, {
        withClass: config.prop2class,
        classNames: config.classNames,
        renameMap: config.renameMap,
      })
      const children = parseContent(part, quoteProps, warn, config)
      const p = pragma(tagName, obj, children, { quoteProps, warn, usedClassNames })
      const strBefore = string.slice(0, j)
      const strAfter = string.slice(j + length)
      return [...acc, `${strBefore}${p}${strAfter}`]
    }
    return [...acc, string]
  }, [])
  return jsx
}
```

_became_

```js
export const parseContent = (content, config = {}, _ = {}) => {
  const { markers } = _
  // const { } = _recursion
  if (!content) return []

  const contents = parseSimpleContent(content) // split by expressions

  const jsx = contents.map((string) => {
    if (typeof string == 'string') return string

    const { jsxBlock, expression } = string
    if (jsxBlock) {
      jsxBlock.getProps(config)
      const children = parseContent(jsxBlock.extracted.content, config, _)
      const p = jsxBlock.getPragma(children, config, markers)
      // replaced content from string.from to string.to
      // console.log('%sreplace %s', ' '.repeat(level), jsxBlock.tagName)
      return p
    }

    // JSX inside of expressions like {pages.map(p => (<a>{p}</a>))}
    //                                {img && <img src={img}/>}
    const d = /</.test(expression) ? transpileJSX(expression, config, _) : expression
    return d
  })
  return jsx
}
```

When faced with a difficult problem, it's just the matter of doing something, and seeing where it takes you, but it takes will to actually do something because you're not sure what the goal is, and you feel anxious and resistant to implementing something big, so again it's just the matter of telling yourself, it's ok, just do this little step for that general idea you have.

<row>
  <column md-6 mb-3>
    <img webp="photo" img-fluid src="./img/notepad.jpg" alt="initial designs"/>
  </column>
  <column>

    The first idea is that the debugger won't stop at words inside JSX tags, like attributes, and only at expressions. Therefore we first need to find sections of source code where JSX tags are, and don't do any mappings there, and use the same algorithm as before on the rest of the JS code.But there are expressions and functions inside tags, that in turn can contain more JSX:


```jsx
// standard JS code
const method = (t) => `${t}-test`

// component
const Comp = ({ data }) => (<div>
  {data.map((title) => {
    return (<a onClick={() => {
    }}>{title}</a>})
  })}
</div>)
```

  </column>
</row>


So that the plan then became to remember areas (or sections) where JSX is, and areas/sections of expressions in JSX, and then somehow deduct how much each word in every expressions should be shifted. I thought this could also be done easily, e.g., if an attribute has value `title` on the line, I could simply find the same word in the source line, and map to it. But it doesn't work for longer lines that can have multiple words line than, and shorter expressions, such as `t`.

<section-break/>