##! 19 Thu - 22 Sun

Yesterday I got the source maps working and got pretty excited and posted on Twitter how happy I was, and then in 10 min when I tried to push to GitHub, it was rejected because my account was suspended 😜 So on THU I did a research into various other providers like Gitea, Sourceforge, Bitbucket and GitLab and how to transfer code there. It'll become an article. It's funny that just this week I thought about having to make a backup for reposé, however it's not the end of the world as all my Open Source work was open and I can migrate it to GitLab.

<p>
  <img img-fluid webp="text" src="./img/account.png" alt="github account suspended"/>
</p>

20 FRI - day off, finally got a chance to read the 4 comments on reddit.
21 SAT - listening to audiobook ["fail forward"](https://www.youtube.com/watch?v=RPTOrqQvABE) it's pretty good.
22 SUN - making the "say community again" lipsync. Working on the graphics for the comparison blog.

<p>
  <img img-fluid webp="photo" src="./img/thumb.jpg" alt="say community again"/>
</p>

<section-break />