##! 24 Tue

Continued to work on source maps. There was a bit of algorithm brute-forcing, when you're trying to adjust certain parameters, and then compare the output to what you want to see. When one place works, another stops working, so you change things bit by bit. Because it's pretty hard to understand what it is that's actually affecting both places, you're literally brute-forcing possible combinations. It's a pretty anxiety-full activity as you're almost blind, but you get there in the end, and also you get the understanding of the important bit.

<p text-center>
  <img webp="text" img-fluid src="./img/more-source-map.png" alt="more source maps" />
</p>

For example, each ``<tag></tag>`` is transformed into an `h()` call, but if it has parameters and children, the closing bracket will come after them, whereas for self-closing ``<tags/>, it won't.

So by the end of the day I had the source maps working for parameters and expressions, with column shifts as required. A column shift is when there's a generated word that wasn't in the source, e.g., when parameters start in JSX, there's no extra symbols, but in JS, a `{` is added. When boolean attributes are set, there's a shift of 4 + 1 symbols (word `true` and `:`). For example:

```js
h('div', { param:true, param2:test }, 'Hello')
<div param param2={test}>Hello</div>
  ^^^^^   ^      ^^
  shift   :true  :test
```

Secondly, I looked into Keybase signing with PGP keys so that the identity of package publishers could be validated. This is essential for operating a registry, because if it gets hacked and the keys are not validated, packages could be easily compromised. To be honest, NPM itself had to implement this, like GitHub and GitLab do for verified commits. NPM does verify packages using its own keys, so that tarballs downloaded from the registry are checked, but this doesn't include the authenticity of the publisher.

*TODO*

- Publish `luddite` package on NPM that could install packages from 3rd party registries and validate the publishers via Keybase.

<section-break />