<post-standalone heading-shift="-1" />

##! <a href="year2021/june/tue_15">15 June Tuesday: Encoding A 3rd party Schema in a Database</a>

<seo>Encoding A 3rd party Schema in a Database</seo>

Yesterday, after a longer than normal break (3 days because of a Bank Holiday where I live at the
moment), I needed to get back at work with the same enthusiasm as before -- the longer you
don't make productive stuff happen on the computer the worse you feel about yourself. This is fixed
by doing the work and as much of it as possible, the only real question is where to start. I started
with drawing some kind of plan on a sheet of paper and setting off from there.

<p>
  <img photo src="./img/photo.JPG" alt="photo of a plan" img-fluid/>
</p>

The plan was to do some refactoring, by taking the _ICloudFile_ sybsystem out of the client's
website: this collection represents photos uploaded to the Telegram Bot server. Moreover, the
bot implementation itself didn't support uploading file using multipart/form data requests that
need to be made with the buffered image in order for it to upload. I used the `@multipart/form`
Art Deco package for that previously, however there was a problem with caching which resulted in
an error when trying to prevent the file with the same name from being cached.

<post-cut>
  <a btn btn-info href="year2021/june/tue_15">Read Full Post &gt;</a>
  <section-break />
</post-cut>

Therefore, first I:

- refactored the `@multipart/form` package into the new package structure so that it could be compiled easily and implemented with Type Engineering.

During the process of generating Lux files, I encountered a problem when a castor interface was
being generated for the _SymbolsOut_ interface which wasn't appropriate as this interface isn't
an original interface and castors should only be added for Interfaces defined in the XML file
and not to auto-generated interfaces.

###! New Network Methods For Telegram Bot

Then I incorporated the new `2.1.0` version of the package into the telegram bot by creating
additional 3 methods on the _INetworker_ package, including `POST`, `FORM` and `EXEC`. The FORM
method obviously creates a form instance, and attaches files that are given with the `file://`
protocol to the request. This is the only way to upload files from the localhost, and it needs
the POST request to send the data. Moreover, because photos can be sent using a string pointing
to a picture on the internet, we don't know in advance whether we'll need to make a FORM request
or a standard GET requests. Which leads me to why the EXEC method is needed - it will scan all
values in the passed data object, and if any of them are local files (that start with `file://`)
then it'll make a decision to automatically delegate the request invocation to FORM, otherwise
send a POST request.

```xml
<types ns="community.type.telegram">
  <INetworker>
    <!-- 3 NEW METHODS: -->
    <method async name="POST">
      <arg string name="method"/>
      <arg type="!Object" name="data" opt/>
      <arc name="opts" opt>
        <prop name="headers" type="!Object<string, string>" opt />
      </arc>
    </method>

    <method async name="FORM">
      <arg string name="method"/>
      <arg type="*" name="data" opt/>
    </method>

    <method async name="EXEC">
      <arg string name="method"/>
      <arg type="*" name="data" opt/>
    </method>

  </INetworker>
</types>
```

In addition to these improvements to the bot's INetwork interface, I also enabled the Merchant API,
which was designed by extracting from the online API documentation, but it wasn't ready as the
abstract code for Merchant methods wasn't generated. As the `@multipart/form` was used in the source
code, I set up automated tests to upload a small PNG file, and then assert on its height from the
returned message containing the file information. What I'd like to achieve is to save that meta-data
in the database so that I could retrieve the file ID later and send it to bot users when needed,
thus enabling a kind of cloud storage on the Telegram network.

</div>

###! Updated Telegram Plugin

Moreover, I updated the plugin code to work
with the compiled version of typal, because it only worked with the version where plugins can
have access to the full CORE programmatic api of types, but the compiled distribution didn't come
with it. In future, there'll be a price difference between 2 products however I'm trying to make
all plugins use the node API as much as possible to test it out what is possible and what not because
the Core API version will be really expensive as there's been a lot of investment in RnD of that
software tool.

*Before*:

```js
const app = ['ITelegramBot', 'IUpdater', 'IEditor']

/**
 * For abstract classes, generates method bodies that issue a request to the
 * Telegram API.
 * @type {_typal.IPlugin}
 */
export const MethodBodies = {
  abstractMethodBody(method, current, protype) {
    if (!app.includes(protype.name)) return current
    if (method.name == 'constructor') return current
    let found = null
    for (const a of app) {
      const IInterface = method.type.getType(`community.type.telegram.${a}`)
      if (IInterface) {
        // console.log(IInterface.name)
        found = IInterface.getMethodByName(method.name)
        if (found) break
      }
    }
    if (!found) return current
    const { asICallable: { allArgs } } = method
    const l = allArgs.map(({ name }) => name)
    const a = [`'${method.name}'`, ...l].join(', ')
    return `return await this.GET(${a})`
  },
}
```

In the previous version, we use the `getMethodByName` and `asICallable` as part
of the Type Engineering Core API which aren't available for the plugin with
compiled Typal. To overcome this, we simplify the plugin whose purpose is
to generate abstract method bodies from the interfaces that were extracted
from the Telegram Bot API, and encoded in the XML files. Those method bodies
will call the `.EXEC` method that actually sends the data.

*After*:

```js
import { XMLReaderPluginV0 } from '@type.engineering/plugin'

/** @constructor @extends {_BotPlugin} @suppress {checkTypes} */ function __BotPlugin() {}

class _BotPlugin extends XMLReaderPluginV0 {}

const app = ['ITelegramBot', 'IUpdater', 'IEditor', 'IMerchant']

/**
 * For abstract classes, generates method bodies that issue a request to the
 * Telegram API.
 */
const BotPlugin = _BotPlugin.implementWith(__BotPlugin.prototype = /** @type {!_BotPlugin} */({
  name: 'BotPlugin',
  abstractMethodBody(method, current, protype) {
    if (!app.includes(protype.name)) return current
    if (method.name == 'constructor') return current
    if (method.name == '__$constructor') return current
    return `return await this.asINetworker.EXEC('${method.name}', ...arguments)`
  },
}))

export default BotPlugin
```

After the update, we got rid of any code that makes use of the Tyng Core API.
That allows to freely use the plugin, but a disadvantage is that we can't pass
on the arguments that are given to the method as we don't know the arguments.
Instead, we simply call `.EXEC(methodName, ...arguments)`. This can be fixed in
the future by adding some API methods for the plugin specifically to get arguments
list, without using the Core API, so that no full version is needed, yet at the
same time it's possible to have more flexibility in generating code.

Nonetheless,
the generated code is not seen by the developer and resides in the LUX folder
which means that there won't be any inconveniences to the programmer:

```js
/**
* @abstract
* @extends {community.type.telegram.TelegramBot}
*/
export class _AbstractTelegramBot {
  /** @param {!community.type.telegram.ITelegramBot.setChatTitle.Params} params @return {!Promise<boolean>} */
  async setChatTitle(params) {
    return await this.asINetworker.EXEC('setChatTitle', ...arguments)
  }
  /** @param {!community.type.telegram.ITelegramBot.setChatDescription.Params} params @return {!Promise<boolean>} */
  async setChatDescription(params) {
    return await this.asINetworker.EXEC('setChatDescription', ...arguments)
  }
  // ...
}
```

Generating code is particularly useful technique for 3rd party APIs that ensures
both the developer experience (the access to methods is fully documented via the
typedefs) as well as developer productivity as all methods are created at once
and get updated (or added/removed) when the source of truth changes.

</div>

###! Fixing Typedefs Code Generator

As I continued working towards the goal of generating subsystems for the cloud files,
another problem arose: I wanted to make it possible to merge a document schema that describes
a document in a mongo collection, with already existing types from Telegram, such as
_PhotoSize_ that represent the cloud files that I wanted to store in the database,
and to do that I needed to copy those fields from the telegram design onto the
cloud files model design. To do that, I decided to use the ``merge-with`` attribute
on the `document` node, but that only worked on methods previously, not protypes.
Moreover, the fields are defined on a Fields Interface rather than the actual
Document interface, which means that I had to get reference to this Fields
Interface from the Type Engineering *Merger* plugin in order to know where to copy
the fields to. This required an update to the XML parser plugin and the inclusion
of the `Fields` field on the _IProtypeNode_ interface:

<p>
  <img text src="./img/Fields.png" alt="Fields field" img-fluid />
</p>

The example above shows how the _Fields_ field was added to the _IProtypeNode_
specification, in the same way as _Binder_ and _Castor_ were already added
previously. This TOM (type object model) allows to model the type relationship
using a tree data structure, so that it can be traversed and manipulated without
using the Core API: the nodes are stripped-down versions of the core classes
that are formed from the node. Despite having less methods, this API is still
powerful as the information about type relationship can be accessed, like in the
use case that I'm describing.

However, after I added the _Fields_ into the design, I ran into another problem
when new typedefs didn't have types of the fields in them. This was due to the
previous update when fields weren't written on a prototype as before and were
put directly into the constructor. There was some legacy edge case when the assignment
was checked against an empty string before it was actually generated, so that
a `class` library had to be updated. Futhermore, I uncovered a bug in which
properties with hyphens were no not added properly. After fixing those, I got
the typedefs system back to normal:

<p>
  <img text src="./img/is-constructor.png" alt="fixing the fields" img-fluid />
</p>

The above shows how typedefs are created correctly by placing the fields in the
constructor. The actual type is defined as a class and is available in the project
globally, once the typedefs file is imported. The types are added in a non-standard
way by assigning a void 0 to the field, but casting it into the required value.
This allows to remove the `@type {...}` from JSDoc which otherwise would look
ugly in the description of a field.

Having fixed the missing types, I could more on to the actual implementation of the cloud files
subsystems package whose idea is to provide a reusable API for sending files
to the Telegram Server and then reusing their *file_id* in other messages
when communicating with users which is described below.

</div>

###! Creating Subsystems From Designs

The API of the Telegram bot was parsed from the HTML with the documentation
to the bot and saved in XML files that describe the model. Therefore, it would
make sense to simply reuse some of those records by generating a subsystem
for each required collection. A subsystem is a programming-language API to work
with documents in a particular table. They are generated for each table/collection
and are installed on the model for data abstraction purposes. I created a number
of subsystems that for the _CloudFiles_ API:

```xml
<types ns="dev.telega">
  <IPhotoSizes>
    <subsystem obj="IPhotoSize" obj-constructor="PhotoSize" doc="IPhotoSizeDocument" item="photoSize" />
    Stores the uploaded photo references, unique to each bot.
  </IPhotoSizes>

  <!-- CloudPhotoSize -->
  <IPhotoSize implements="IPhotoSizeDocument,engineering.type.IMongoDocent<IPhotoSizeDocument>">
    <initialiser>
      <extends>engineering.type.IMongoDocent.Initialese<IPhotoSizeDocument></extends>
    </initialiser>
    <document mongo merge-with="community.type.telegram.PhotoSize">
      <field type="Object" primary-key name="_id" init>
        An auto-generated cloud file id.
      </field>

      A document that contains information about the photo size.
    </document>

    <delegate-fields strings track-dirty init from="IPhotoSizeDocument" to="doc" />
  </IPhotoSize>
</types>
```

The design above shows the structure of the _PhotoSizes_ collection with the
document ``merged-with`` the PhotoSize record from telegram. Because we're
also generating delegators on the IPhotoSize interface that would read and
write to the actual document, we need to know every field from the
`community.type.telegram.PhotoSize` type so we can't just extend the document
in that case. Moreover, the native type isn't an interface but a record (object
literal typedef), so extending it by an interface which _IPhotoSizeDocument_ is
wouldn't work.

To make the types available to the Cloud Files package for inclusion in output
code, they need to be published. Prior to that, I only distributed source, headers
and compiled versions of the packages, but this time I needed to publish the
actual designs. They were put in a `@type.community/telegram-bot.d` package in
a way similar to how headers go into the `@type.community/telegram-bot.h` package.
Individual XML files with required records are then included passed to _Typal_ tool:

```json
{
  "typal": "typal-dev -T types,compile/paid -t
    node_modules/@type.community/telegram-bot.d/telegram/Voice.xml,
    node_modules/@type.community/telegram-bot.d/telegram/Video.xml,
    node_modules/@type.community/telegram-bot.d/telegram/VideoNote.xml,
    node_modules/@type.community/telegram-bot.d/telegram/Document.xml,
    node_modules/@type.community/telegram-bot.d/telegram/Audio.xml,
    node_modules/@type.community/telegram-bot.d/telegram/Animation.xml,
    node_modules/@type.community/telegram-bot.d/telegram/PhotoSize.xml,
    types -u"
}
```

As parsing of XML can take some time, especially when there's a lot of types (takes
2s on my computer for _Typal_ to run), I pass only the files with types that I
referenced in the design.

```js

/**
 * @abstract
 * @extends {dev.telega.PhotoSize}
 */
class _AbstractPhotoSize {
  constructor() {
    construct(this)
  }
  get asIPhotoSize() {
    return /** @type {!dev.telega.BoundIPhotoSize} */ (this)
  }
  get superIPhotoSize() {
    return /** @type {!dev.telega.BoundIPhotoSize} */ (bindPrototype(_AbstractPhotoSize, this))
  }
  get superPhotoSize() {
    return /** @type {!dev.telega.BoundPhotoSize} */ (bindPrototype(_AbstractPhotoSize, this))
  }
}
/**
 * @extends {dev.telega.PhotoSize} ‎
 * @implements {dev.telega.IPhotoSize} ‎
 * @implements {engineering.type.IInitialiser<dev.telega.IPhotoSize, dev.telega.IPhotoSize.Initialese>} ‎
 */
export class AbstractPhotoSize extends _AbstractPhotoSize {

}
initAbstract(_AbstractPhotoSize, 'IPhotoSize')

/** @suppress {checkTypes} @extends {AbstractPhotoSize} */
export class AbstractPhotoSizeDelegator extends Tracker {
  get _id() { return /** @type {AbstractPhotoSize} */ (this).doc['_id'] }
  set _id(v) { /** @noinline */ const _ = '_id'; this.__$dirty(_, v, this.doc); /** @type {AbstractPhotoSize} */ (this).doc[_] = v }
  get file_id() { return /** @type {AbstractPhotoSize} */ (this).doc['file_id'] }
  set file_id(v) { /** @noinline */ const _ = 'file_id'; this.__$dirty(_, v, this.doc); /** @type {AbstractPhotoSize} */ (this).doc[_] = v }
  get file_unique_id() { return /** @type {AbstractPhotoSize} */ (this).doc['file_unique_id'] }
  set file_unique_id(v) { /** @noinline */ const _ = 'file_unique_id'; this.__$dirty(_, v, this.doc); /** @type {AbstractPhotoSize} */ (this).doc[_] = v }
  get width() { return /** @type {AbstractPhotoSize} */ (this).doc['width'] }
  set width(v) { /** @noinline */ const _ = 'width'; this.__$dirty(_, v, this.doc); /** @type {AbstractPhotoSize} */ (this).doc[_] = v }
  get height() { return /** @type {AbstractPhotoSize} */ (this).doc['height'] }
  set height(v) { /** @noinline */ const _ = 'height'; this.__$dirty(_, v, this.doc); /** @type {AbstractPhotoSize} */ (this).doc[_] = v }
  get file_size() { return /** @type {AbstractPhotoSize} */ (this).doc['file_size'] }
  set file_size(v) { /** @noinline */ const _ = 'file_size'; this.__$dirty(_, v, this.doc); /** @type {AbstractPhotoSize} */ (this).doc[_] = v }
}

/**
 * @abstract
 * @extends {dev.telega.PhotoSizes}
 */
class _AbstractPhotoSizes {
  constructor() {
    construct(this)
  }
  get asIPhotoSizes() {
    return /** @type {!dev.telega.BoundIPhotoSizes} */ (this)
  }
  get superIPhotoSizes() {
    return /** @type {!dev.telega.BoundIPhotoSizes} */ (bindPrototype(_AbstractPhotoSizes, this))
  }
  get superPhotoSizes() {
    return /** @type {!dev.telega.BoundPhotoSizes} */ (bindPrototype(_AbstractPhotoSizes, this))
  }
}
/**
 * Stores the uploaded photo references, unique to each bot.
 * @extends {dev.telega.PhotoSizes} ‎
 * @implements {dev.telega.IPhotoSizes} ‎
 */
export class AbstractPhotoSizes extends _AbstractPhotoSizes {

}
initAbstract(_AbstractPhotoSizes, 'IPhotoSizes')
const PHOTOSIZES_COLLECTION_NAME = 'PhotoSizes'
const preparePhotoSize = (subsystem) => prepareSubsystem(subsystem, PHOTOSIZES_COLLECTION_NAME, PhotoSize)

export class PhotoSizes extends AbstractPhotoSizes {
  get PhotoSize() {
    return PhotoSize
  }
  get PhotoSizesCollection() {
    const { asIMongoSubsystem } = this
    preparePhotoSize(asIMongoSubsystem)
    const { asICollectable: { collection } } = asIMongoSubsystem
    return collection
  }
}

/** @constructor @extends {PhotoSizes} @suppress {checkTypes} */ function _PhotoSizes() {}
AbstractPhotoSizes.__implement(PhotoSizes, MongoSubsystem,
  _PhotoSizes.prototype = /** @type {!PhotoSizes} */ ({
    async FindPhotoSize(query) {
      const { asISubsystem: { FindDocent } } = this
      preparePhotoSize(this)
      return FindDocent(query)
    },
    async ListPhotoSizes(query, opts) {
      const { asISubsystem: { ListDocents } } = this
      preparePhotoSize(this)
      return ListDocents(query, opts)
    },
    async GetPhotoSize(id) {
      const { asISubsystem: { GetDocent } } = this
      preparePhotoSize(this)
      return GetDocent(id)
    },
    newPhotoSize(doc) {
      const { asISubsystem: { newDocent } } = this
      preparePhotoSize(this)
      return newDocent(doc)
    },
  }),
)

export class PhotoSize extends AbstractPhotoSize {}

/** @constructor @extends {PhotoSize} @suppress {checkTypes} */ function _PhotoSize() {}
AbstractPhotoSize.__implement(PhotoSize, AbstractPhotoSizeDelegator, MongoDocent)

```

The photo-size abstract subystems class contains the methods to query and modify
the collection:

- FindPhotoSize: finds a single document matching the criteria
- ListPhotoSizes: lists all documents that match the criteria
- GetPhotoSize: finds the document by its id
- newPhotoSize: creates a new abstract photo size that can be saved later.

Those methods provide a database-agnostic way to manipulate the database from
JavaScript programs (in future, more languages will be supported). The consumer
of the subsystem doesn't need to know how the data is stored - they only need
to use the API provided by the page with the methods listed above. It's much
easier to use the abstraction on the model instead low-level DB-query operators
on their own.

The listing also shows how the fields of the IPhotoSize abstract class were
delegated to the special `doc` field of the same interface via getters and
setters. Because the interface will be compiled and its field names will be
manged by the compiler, we need to wrap the actual property names on the
document using `['height']` notation. The implementation of the ``.Update``
and ``.Create`` methods on the abstract item is implementation by the _MongoDocent_
which is included in the list of concrete classes passed to the `__implement`
method.

This is as far as I got yesterday. The final goal however isn't clear now as the
requirement to experiment with the cloud files subsystems has been translated into
the need to develop a method of efficient and minimal-effort production of
subsystems. Although the current design is too bulky and requires too much manual
labour, it's still desirable to first build the MVP "Cloud Files" model.

</div>

###! Todos

- [ ] Take the `_` temp variable name for assigning to strings out of the delegated plugin code (see `@type.engineering/delegator`).
- [ ] Simplify the process of modelling subsystems using an existing schema without having to manually draft full XML as shown on this page.
- [ ] Be able to specify arguments on new lines in ``scripts.json`` by putting them in array.
- [ ] Distribute types in a binary format using a protobuf scheme so that XML doesn't have to be parsed.

<!-- during the update of the XML plugin: because I wanted to  -->
<!-- </div> -->
<!-- ###! Second Attempt -->

<section-break />
