<post-standalone heading-shift="-1" />

##! <a href="year2021/june/wed_16">16 Wednesday: Fixing Maurice Bugs</a>

<seo>Fixing Maurice Bugs</seo>

Because I wanted to get back to blogging, I had to overcome my anxiety of managing
the blog and created a new folder "june" in the repo to be able to maintain records
for this and hopefully next month. However, there were some bugs that prevented
the whole thing from working and compiling.

<img mb-3 src="./img/IMG_1185.jpg" alt="16 june notes" img-fluid picture />

At the end of the day, I started to look into how to implement queries and
projections for mongo subsystems which I'll do tomorrow.

<post-cut>
  <a btn btn-info href="year2021/june/wed_16">Read Full Post &gt;</a>
  <section-break />
</post-cut>

###! Generating Prod Apps Failed

Firstly, the JS compilation with the compiler started to fail. It was due to
the fact that the components path resolution algorithm was changed and that
resulted in the components not being found for corresponding elements. This
algorithm is found in the _App_ of Maurice however it's changed caused problems
before as well as it wasn't properly tested. Therefore, I took the code out into
a separate package called `@mauriceguest/app` and unit-tested it before publishing.

Refactoring code of Maurice takes me closer to the full compilation of the
software as now it's in a state where it's built rather than compiled which
I want to fix. However, there's so much spaghetti code in dealing with components
and elements that it's become really hard to unit test and manage the original
package, so that by taking small chunks out I can approach the refactor gradually
until in the end I have all functions and classes compiled, tested, documented and
distributed by different packages which will then be put together into a single one.

</div>

###! A Menu Link To February Didn't Work

Because _February_ was the previous month, I had to create a new folder called
``index`` and rename the previous `index` into ``feb``. Despite that, the menu
link renamed pointing to the `/blog` path of the website which was due to the
fact that the index page was aliased to `/`:

```js
const index = {
  aliases: ['index'],
  seo: '1 year later.',
  url: '/index.html',
  menuUrl: '/',
  file: '.',
  og: {
    image: '/img/logo.jpg',
  },
  reverse: true,
}
```

After removing the alias, the link started to work again, as well as on the
image in the header for the blog.

</div>

###! A Menu Link To Month In Posts Wasn't Highlighted

This bug prevented the "month" section such as "June" in the pages submenu
from being shown *bold* when a post in that month was opened. The reason for
that was the inefficiency of the `menu` element which didn't take into consideration
the folder structure of the menu, and only make bold those keys which directly
point to the currently open page by its full key. Because no comparison was made
to check if the directory is the same, this prevented correct UI.

</div>

###! The Siteamp Wasn't Generated

Finally, because of some changes to how layouts are handled, some pages started
to miss the `layout` property so that the post-processing pass in Maurice
began throwing an error as it couldn't check when the layout file changed. I'm
not sure why the pages didn't have the `layout` property before, but we were
already passing it to the method, so this argument was used as a fallback
after which the sitemap was generated correctly.

In addition, I updated the source map generator code to remove ``/index.html``
part of the path to make it look how it's supposed to be in the search engine.
Although it's the job of the search engine itself to do that, in some cases
in might result in it indexing multiple pages and showing the correct page
only in the "show more" section due to its belief that the desired `/` path
is actually canonical.

```xml
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <!-- before -->
  <url>
    <loc>https://artdeco.gitlab.io/blog/year2020/index.html</loc>
    <lastmod>2021-06-16</lastmod>
  </url>
  <!-- after -->
  <url>
    <loc>https://artdeco.gitlab.io/blog/year2020/</loc>
    <lastmod>2021-06-16</lastmod>
  </url>
</urlset>
```

</div>


###! Todos

- [ ] Remove the `alt` attribute from svg placeholders as at the moment Google decides to index them (showing blank images in the search results which isn't great).
- [ ] The actual blog page which uses a post-cut doesn't get live-updated.
- [ ] Figure out how to precompile HTML templates for the use with dynamic content served by the server.

<section-break />
