<post-standalone heading-shift="-1" />

##! <a href="year2021/february/wed_24">24 Wed: Names.Co.Uk Adventures</a>

Today I was exploring the possibility of buying a .uk domain, and I used the https://names.co.uk website to purchase it. It was because of the good offer on FREE.co.uk & .uk + £1.99 .com. During the checkout, it was possible to remove the .com, so the total price calculated was actually 0, and more than one domain could be added. However, the payment processing wasn't successful: I got an error message saying that my domains will need to be manually verified by an operator.

<seo>Names.Co.Uk Adventures</seo>

Initially, I thought that the transaction was unsuccessful altogether and won't be validated, but after checking for the status of the domains I registered early, they were taken, so I checked the email, and found my 4 new free domains:

<p text-center>
  <img src="./img/order.png" img-fluid alt="4 free domains" />
</p>

<post-cut>
  <a btn btn-info href="year2021/february/wed_24">Read Full Post &gt;</a>
  <section-break />

</post-cut>

###! 4 Free Domains

This experience was A) scary when the domain i wanted was found as registered, but B) relieving that it was me who registered it, and C) interesting because basically I cheated the system which normally would only allow for one free set of domains to be purchased, and despite the manual check by the names.co.uk employee (assuming manual, I tried to pull the order page where it said it needs further proceedings, but couldn't as I couldn't find it in the browser history, and the first ID led to a standard "registered" page - which indicates that the status of the order has changed).

<img border rounded src="./img/order1.png" webp="photo" img-fluid alt="order confirmation page" />

<block-quote>‡ The following suffixes are on offer when registered for 1 year using the embedded voucher code - .co.uk and .uk and .com. The offer prices are: .co.uk and .uk - free. .com - £1.99. These offers entitle you to one .co.uk and one .uk and one .com at the offer price per account. The free .co.uk and .uk offers are limited to new customers, who have created an account within the last 30 days. </block-quote>

</div>

###! Security Testing

In any way, the topic of this post was meant to be the fact that the page shown above is available at the `/cart/thankyou` path with a certain order number encoded in the url string: in particular, it is the ``34127858`` number. Being an experienced web-apps user, it became interesting to me what would happen if I changed the other parameters in the url:

```
https://www.names.co.uk/cart/index/thankyou?
  - order_id=34127858 &
  - hide_confirm_message=-1 &
  - source=orders
```

It was pure curiosity what would happen visually if the `hide_confirm_message` parameter was changed to 1 from -1, as I wanted to understand where the visual representation of the `confirm_message` actually is on the page. Unfortunately, changing that parameter didn't result in visual modification of the page, but it is then when I tried to play with the `order_id`. Traditional SQL-injection vulnerabilities are based on the fact that special `'` character is added to some parameters, which when not filtered, would result in a construction of malicious SQL query that selected rows outside of the intended table and allowed to retrieve such information as database login and password right from the database. Such vector of attack is really old and I'd say that it's extremely rare that it could be executed on a production web app of a serious business. Nonetheless, it's still interesting to see how the website reacts to edge-case queries, for example, when the order is negative, or its length is larger than 64 bits.

Tests:

- *Negative order id*: redirect to the error page https://www.names.co.uk/error.html (_Rest assured, a message has been sent to our development team to investigate this error._).
- *Very long order id*: trying `34127858000000000341278580000000003412785800000000034127858000000` sends to the 400 invalid request page.
- *Adjacent order id*: we increment our own order by id, to get 34127859, and try. The result is 400 (invalid request also).

As the user shouldn't be able to access anything outside of his own order, and the last test showed that 400, we thought that the system is protected by some for of access control that would evaluate whether if it was the customer who placed the original order who's making the request. This intuitive conclusion, however, didn't withstand the additional security testing:

- *More adjacent orders*: trying ``34127888``, we've been able to access the cart confirmation page for the order that didn't belong to us:

<img src="./img/card-888.gif" img-fluid alt="a confirmation page for unrelated order" />

This is kind of crazy because from the very onset, we assumed that the order-id parameter was secured with server-side validation of the user credentials, however the system showed us the name of the domain that was registered, and the invoice id as well. The screenshot above also shows the name of the owner, and initially I laughed at the coincidence that the person's name should be my name also, but quickly I realised that it's due to the personalisation of the page tailored for the currently-logged-in user. At first, I thought that there was a personal-data breach as the presence of the email makes any data personally-identifiable information, however it turns out that the email in the actual server response, is `yourname@[domain.com]`, where `yourname` is replaced by an interactive JS widget in browser.

In short, the vulnerability allows to view recent orders placed on the names.co.uk by conducting a transaction, noting its id, and querying the server for information about transactions with ids that follow it. A short scripts has been written to allow for the brute-forcing of the vulnerability. Not only does it reveal this business-data, but it also does reveal it to anybody even not logged in users. Anybody in the world, without any cookies or special token, can find out what domains have been registered lately. The severity is not very high as it doesn't leak administrative credentials or personal data, but there are some possible exploitation mechanisms that will be talked about later.

</div>

###! Writing Exploit

The automated script to gather data from the vulnerable server is called an exploit. Exploits could be active when they require an action from the victim (e.g., an admin) or passive, when the attacker can simply run them against a discovered vulnerability. As hacking involves a lot of scripting, NodeJS is actually a pretty good platform for creating exploits as it allows to run and debug scripts easily. We'll retrieve data using the `rqt` package, and save the results in the ``good.txt`` file.

<highlightjs src="./cart.mjs" />

As the script can potentially be used to check every single ID, we need to start somewhere and then also save the result of the check in the file. If the script is cancelled, we'd like to begin from where we stopped the previous time, therefore we'll save the ID of the last check in the `log1.json` file. The JSON files can be read using standard `require` function. Then, for a hundred ids that follow the initial one, we'll query the server twice.

The first time, we'll send a `justHeaders` request, as not every single ID will return status 200. The `just-headers` means that we don't download the whole web page, but look at the response status code only. If such code is ``200``, we can make a full request. That saves time on making requests as we'll only get bodies of HTML with resolved orders.

The second time, our request will be a full one and download the HTML of the page. To extract the information about the domain, we'll use a regular expression that was constructed after visually inspecting the download page and finding out the textual data that contains the domain and order id. Both of these pieces of data will be appended to the `good1.txt` file as valid domains registered on names.co.uk. The fact that these domains are actually registered, can be confirmed on the same website by checking the domain. The whois information will most likely be hidden, but the registration (or renewal in case or repeated order) date will be shown.

<gif-video border rounded placeholder="./img/brute.png" webp="photo" img-fluid src="./img/bruteforce.gif" alt="bruteforcing ids" />

The video above shows how the brute-force process is executed: by taking an id, we get either 400/302 or 200 response. We're only interested in the 200 response, as the 302 doesn't contain the name of the domain. For those positive results, we query the server again and download the page, to extract the name of the domain and the order number. The data on the video has been redacted, but it shows pretty well how a lot of data from the businesses can be obtained in a fully-automated manner.

</div>

###! Technical Details

In the listing of the code, it can be seen that we used the `proxy-request` function. It was a technical challenge to learn about how to use proxies with NodeJS. Turns out that it's pretty easy, but a slight addition to our `rqt` package had to be made. Previously, we would pass the url as string, however that doesn't allow to perform proxy requests properly, as the host and path would be extracted from the URL string, and the path would end up being `/https://www.domain.com` with a slash at the start. This doesn't work for proxy servers, so the RQT lib had to be updated.

```js
async function proxyRequest() {
  const newPath = {
    hostname: PROXY.trim(),
    protocol: HTTPS ? 'https:' : 'http:',
    port: PROXY_PORT,
    path: url,
  }
  const res2 = await loading(loadingText, aqt(newPath, {
    headers: {
      'User-Agent': UA,
    },
    timeout,
    ...reqOpts,
  }))
}
```

The modification is to pass the request details in an object already, without the library having to parse it by itself, thus avoiding the forward slash issue. For the hostname, we'll use the proxy address, for port the proxy port, and for path, the URL that we want. It's been seen on the internet to parse the host of the URL and add it as a `Host` header to the request, but that turned out to be redundant.

Despite being behind a VPN, some people might want to use a proxy for activity similar to the one we're talking about here. This particular case is not really proper hacking as the information that is given to us by the service isn't protected by it anyhow, and we're not circumventing any security measures which are in place to prevent us from the unauthorised access to information: there are simply no such measures. We're also not getting hands on usernames and passwords, but for educational purposes, it was interesting to see how to set up proxies in general.

Furthermore, we've downloaded a list of 100 User Agents, e.g.,

```
Mozilla/5.0 (Linux; Android 8.0.0; SM-G960F Build/R16NW) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/62.0.3202.84 Mobile Safari/537.36
Mozilla/5.0 (Linux; Android 7.0; SM-G892A Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/60.0.3112.107 Mobile Safari/537.36
Mozilla/5.0 (Linux; Android 7.0; SM-G930VC Build/NRD90M; wv) AppleWebKit/537.36 (KHTML, like Gecko) Version/4.0 Chrome/58.0.3029.83 Mobile Safari/537.36
```

which are added to each request to lower the suspicion of the namesco webmaster. Using proxies and having different UAs will make tracking of the attack harder for the digital forensics unit to trace the source of the attack and put pieces together. The speed of the proxy limits the number of requests per second, therefore in a real attack, there would be no proxy, but a secret VPN server. To get such server is a specialty of a professional hacker, so using proxies and obfuscating traces with UA-spoofing is still a viable technique.

</div>

###! Possible Implications

The list of domains and invoice numbers isn't that useful for any serious attack, for example, to overtake the domain name. However, the data extracted from the namesco server can then be used in a number of malicious ways:

1. The most obvious one, is contacting the domain owner while pretending to be namesco to execute a phishing attack. We could, for example, craft an email saying "thank you for the purchase of you domain, please activate it here", and send it to the webmaster@domain.com. That would probably fail as the email forwarding isn't set up for new domains, but for those domains that have been renewed, and where contact information is available, we can do that. By adding the real INVOICE ID that the victims can confirm through the real transactional email from namesco, we can gain trust of the domain owner and spoof the login form so that the credentials are sent to us.
1. Secondly, we can keep our hand on the pulse of how many domains namesco register per day, by checking by how much the order-id counter gets incremented every day. We'll be able to plot the number of successful domain sales for each day, and understand how much money the business is generating. This method would be limited as we can only track single bought domains, however sometimes there will be cases where more than one domain was purchased, and we can't analyse that data as it doesn't contain any domain name at all.

The first vector of attack is mitigated by a strong security of the registrar that wouldn't allow anybody to log in into an account from a different country. I had been locked out of my own account because I was using VPN, so I had to switch it off to access the control panel. But this can be easily circumvented if during the phishing process, the IP of the user is recorded and his country disambiguated, and later a proxy server or VPN is used to log in into the panel. Finally, this can be prevented altogether if the user has enabled the 2-factor authentication.

</div>

<section-break />