{
  "content": "<h1 id=\"blog-for-2020\">Blog For 2020</h1>\n\n<p>Abc</p>",
  "file": "./index",
  "postAjax": "(function imgPostAjax() {\n  /* eslint-env browser */\n  window['IO']()\n  window['WEBP']()\n})()"
}