* {
  -webkit-box-sizing: border-box;
}
*::before {
  -webkit-box-sizing: border-box;
}
*::after {
  -webkit-box-sizing: border-box;
}
.row {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  -moz-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}
.col {
  -webkit-flex-basis: 0;
  -webkit-box-flex: 1;
  box-flex: 1;
  -webkit-flex-grow: 1;
}
@media (min-width:768px) {
  .col-md-3 {
    -webkit-box-flex: 0 0 25%;
    -moz-box-flex: 0 0 25%;
    -webkit-flex: 0 0 25%;
  }
  .col-md-9 {
    -webkit-box-flex: 0 0 75%;
    -moz-box-flex: 0 0 75%;
    -webkit-flex: 0 0 75%;
  }
}
.btn {
  -webkit-border-radius: .25rem;
  -moz-border-radius: .25rem;
  -webkit-transition: color .15s ease-in-out , background-color .15s ease-in-out , border-color .15s ease-in-out , box-shadow .15s ease-in-out;
  -o-transition: color .15s ease-in-out , background-color .15s ease-in-out , border-color .15s ease-in-out , box-shadow .15s ease-in-out;
}
@media (prefers-reduced-motion:reduce) {
  .btn {
    -webkit-transition: none;
    -o-transition: none;
  }
}
.btn:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
  -moz-box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.btn-info:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
  -moz-box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
}
.btn-info:not(:disabled):not(.disabled):active:focus {
  -webkit-box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
  -moz-box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
}
.rounded {
  -webkit-border-radius: .25rem !important;
  -moz-border-radius: .25rem !important;
}
.d-flex {
  display: -webkit-box !important;
  display: -moz-box !important;
  display: -webkit-flex !important;
}
.flex-column {
  -webkit-flex-direction: column !important;
}
.flex-shrink-0 {
  -webkit-flex-shrink: 0 !important;
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
}
@media print {
  * {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::before {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
  *::after {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
  }
}
.RightColumn {
  -moz-hyphens: auto;
}
.tm, .tm2, .hljs {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -moz-hyphens: none;
}
