<post-standalone heading-shift="-1" />

##! <a href="year2021/february/fri_26">26 Fri: Essential Blogging</a>

<seo>Essential Blogging</seo>

As I've started blogging more and more about my daily work at Art Deco, I had to find time to improve the static website generator that is used for this activity, i.e., Splendid which is also Maurice. It allows to write simple HTML to construct pages, as well as use the javascript compiler to enrich them with JavaScript components. However, the previous strategy for writing blogs was to have a single monthly page, where full records would be published. Rather than an explicit design decision, this seems to have been a style adopted due to the lack of flexibility with the Splendid tool. The time's come to upgrade it.

<post-cut>
  <a btn btn-info href="year2021/february/fri_26">Read Full Post &gt;</a>
  <section-break />
</post-cut>

###! Sections Font Element

I started off by adding a `<selector-font />` component that would allow to specify a CSS ``font-family`` rule for a particular selector. It would allow to remember what font is used in each of _Splendid_ instance (for each page) for selectors like headings, which in turn unlocked another possibility of automatically constructing the `<critical-path-font />` component for the page. The CPF component will download the desired font from Google Fonts, and embed it onto the page, but only for the symbols found in headings. That will prevent the shifting of the page after font loading, as the text is immediately displayed with desired typography.

Previously, the full CPF component had to be specified on each page, along with text that had to be displayed. Now, with the `sections-font` element and an addition to the markdown for headings, the process is much simpler and user friendly:

```html
<!-- WAS BEFORE -->
<critical-path-font text="Hello World Example" family="GoodTimes">
  h1 {
    font-family: 'Good Times', sans-serif;
  }
</critical-path-font>

# Hello World Example

<!-- IS NOW -->
#* Hello World Example
```

With the single addition of the `*`, the critical path font is embedded onto the page which is really nice and I don't know of any other static website generator that allows that. It's interesting to note, that the `selector-font` element isn't 100% necessary in theory, because if the system was smart enough, it could use the stylesheet information to find out about which font is used on its own. This can be implemented in the Exposure Stylesheets, which are used for compilation of CSS so that the HTML generator and CSS compiler work together at delivering the most optimised solution and sharing heuristics, rather than being 2 independent tools.

<block-quote>In Exposure Stylesheets, add the ability to select a rule from a stylesheet, and inspect its value.</block-quote>

From technical point of view, the implemented functionality was a bit tricky to add, as Splendid processes pages in 2 passes:

1. The Content pass, for the inner page content.
1. The Layout pass, that takes a single layout and adds generated content to it.

Being able to specify a font, is usually a layout-wide operation which means that fonts are installed on a layout and not content. As content stream is handled first, the layout wouldn't have started to be processed, so that the font information isn't known in advanced. This has been mitigated by a layout pre-pass, that specifically extracts the `<selector-font/>` component and stores the information about the font on Splendid. The pre-pass was used in the past as well to understand the container-column width of the content and generate responsive images of appropriate sizes automatically: for example, for a col-md-6 of a non-fluid container, we can generate sizes of up-to 500px (just for example), but we need to known that it's a fixed-width container, and that we can only find out from the layout, so it had to be pre-processed.

<block-quote>In Splendid, standardise the pre-processing pass for the layout stream and document it.</block-quote>

As it's the second use-case where preprocessing of layout was necessary, it's good to make it a proper feature of the website-generator software, so that it can be applied in other, yet unknown, scenarios. In prior, the function that did the pre-pass, was even called `getColumns` which is completely unflexible and doesn't allow to extract any other data from the layout that might participate in the content-processing, like in case with `selectors-font` element. Essentially, Splendid is a compiler of websites, and the idea of passes is what's shaping its current philosophy: we have markdown rule passes, element/component passes, and finally post-template rules passes that allow, for example, to combine all CSS into one. Defining proper vocab to talk about passes will be crucial to the success of software.

</div>

###! Folding Posts

The previous style of putting all content on one page isn't bad, especially with nice section-navigation enabled, but it isn't great and many people would naturally want to be able to fold posts. It's a pretty much essential requirement to be able to give 1-2 paragraphs of intro to the post on the blog facade, and provide a link to read more to interested visitors. In addition, creating multiple pages allows to create permanent links to blog posts, and also improves the SEO as each page will generate some link juice for the blog itself &mdash; some of the first rules of search engine optimisations are the good internal structure so that Google (and others) can understand the structure of the website easily.

<!-- As I've talked about "security" vulnerability in one of the previous posts,  -->

The folding is achieved by adding the `<post-cut/>` element that indicates that here a page should break and show only in full on its own page. As files come into the page stream, Splendid will remember if it's seen this element already, and for pages which are not posts, it will stop writing data for the directory in which it's already seen the cut. This means that standalone pages will have to be defined in a configuration as `{ post: true }` so that we can skip applying the cut rule to full pages.

Additionally, we introduce the `<post-standalone heading-shift="-1" />` component that would display the content inside of it only on the standalone page, as the name suggests. This can be useful to change the appearance of posts according to where they're displayed. The heading-shift argument is also required to shift all headings by -1, as the H1 of the blog index is `Art Deco Blog [Month]`, and blog posts have H2 as their headings, but on full pages, that's supposed to be H1 for better SEO as well as design. Therefore, by specifying this parameter, all headings (in the content, but not layout) will be shifted by one. As we have a separate element for headings, this change was fairly easy to make, however there's one catch that's been discovered with Splendid in general.

</div>

###! Asynchronous Nature

Splendid by its nature is an asynchonous processor as elements can be defined async functions. It's interesting that we're processing content and layout with regular expressions to extract components, which is a synchronous operation, but the code inside the components can be run in parallel. This means that we must be careful when accessing the state of the page (which is abstracted as the _Splendid_ instance). On the one hand, it improves the generation speed, but on the other, makes the logic and debugging harder. With the 2 new features described above, we've noticed what effect the asynchronous nature of processing has on the application.

```html
<!-- A -->
<post-cut>
  <a btn btn-info href="year2021/february/fri_26">Read Full Post &gt;</a>
  <section-break />
</post-cut>

<!-- B -->
<post-standalone>
  <heading-shift  />
</post-standalone>
```

In the listing above, there 2 cases, A and B. In both of them, there's an outer component that wraps some HTML which includes the inner component. In case A), there's a `section-break` inner component, while in case B) there's a `heading-shift` inner component. Although they're not related, they share the same pattern of behaviour that we're ought to understand. This behaviour is related to the synchronous processing: the section break will need to add an additional `</div>` if a section was started from a heading previously (the feature that enables scroll-spies), and a heading shift must be set up for headings on the whole page, so that this one is supposed to be found at the top. However, in neither case they will work correctly and here's why.

The section is remembered by setting the `start-section` property on _Splendid_ state, so that if we process the component asynchronously, we can't keep track of whether the section is open is closed as the code for the component is executed in parallel to the main thread without the ability to know the real state of the compiled page. The element rendering can take place at any time without being bound to the synchronous rule-based passes on the content. It worked previously as the `<section-break />` was installed natively and not within any other element. That made its the code execute synchronously, at least up until the fist `async` keyword was encountered. But once we place it inside another element, the second-rendering pass will always be asynchronous due to the way that components are implement. The same applies to headings' shifting: as we've applied the element inside of the ``post-standalone`` one, some headings might have been processed already synchronously before the generator came to rendering `heading-shift` asynchronously.

A somewhat possible workaround would be to indicate that the second-pass rendering for elements can be done in synchronous manner, but if we don't know whether the inner components are sync or async, that's not a viable solution. The global solution is to disable parallel async elements altogether and render async elements in series: although that might impact performance of elements that perform some long-standing operations (e.g., fetching data from the internet) due to the fact that these will become blocking, the overall system logic becomes clearer and simpler. To overcome the present difficulty, instead of placing the `heading-shift` element inside of the outer one, we added this functionality as an attribute on the `post-standalone` element, synchronising its processing with the headings that follow it.

A section-break specific solution could also be implemented in a different (and more correct) way: instead of tracking whether the section was started, we can ALWAYS close sections with something like `<end-section />` regardless whether they were open or not. It would be during the post-processing pass, when the whole content is ready, when these ``<end-section />`` markers are either translated into `</div>` or removed: using a regex parser, we can keep a state of the content. However, that would actually not work as (for example) inside of a h2 section, we might put an h3 block, which isn't a section, but which is terminated with a section-break element. In that case, the compiler wouldn't know that we're not closing the h2 with your section break. It remains unclear whether it's possible to build a map of where sections start and (possibly end) and apply some algorithm to find out whether the current one needs closing: e.g., if we closes one that didn't need to be closed, we would encounter an unbalanced opening in the ones that follow.

The discussion in the paragraph above seems to be quite complex but that's the result of the asynchronous nature of promise-based elements processing. Although there are great advantages to parallelism, sometimes it's not exactly suitable for the job, especially when we're dealing with streaming data and transforming it using passes.

<!-- abcdef -->

<!-- - If an updated page belongs to 2 folders, update both. -->

<section-break/>