.SectionBreak {
  text-align: center;
}
.hljs {
  font-size: larger;
}
.RightColumn {
  line-height: 1.5rem;
  hyphens: auto;
}
.LeftColumn ul {
  list-style-type: none;
}
.tm, .tm2, .hljs {
  word-break: break-all;
  font-family: 'Source Code Pro', monospace;
  padding: 0 2px;
  border-radius: 2px;
  cursor: pointer;
  hyphens: none;
}
.tm {
  background-color: #cfffd2;
  border-bottom: 1px solid #90bd93;
  border-right: 1px solid #90db93;
  color: darkgreen;
}
.tm:active:hover {
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #90bd93;
  border-left: 1px solid #90db93;
}
.tm2 {
  background-color: #fffad5;
  color: #a08124;
  border-right: 1px solid #e0d68e;
  border-bottom: 1px solid #dace79;
}
.tm2:active:hover {
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #e0d68e;
  border-left: 1px solid #dace79;
}
body {
  font-family: 'Ruda', sans-serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #423230;
  text-decoration: underline;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  color: #50160e;
}
footer {
  padding: 1em;
  border-top: 1px dashed;
}
ul > li.Active {
  font-weight: 700;
}
ul > li.Active > ul {
  font-weight: initial;
}