<!doctype html>
<html lang="en" h-100 class="no-js">
  <block-head />
  <!-- adds app style after bootstrap -->
  <stylesheet href="./app.css" />
  <selector-font h1-h6 fallback="sans-serif">Great Vibes</selector-font>
  <add-file>service-worker.js</add-file>
  <add-file>google346df2cb3c470007.html</add-file>
  <script combine src="js/sw.js" />

  <body d-flex flex-column h-100>
    <!-- ajax is disabled atm because components don't get reinitialised -->
    <!-- <ajax-loader /> -->
    <main role="main" flex-shrink-0>
      <container>
        <row>
          <block-left-column/>
          <!-- Everything inside of #Content will be ajaxed -->
          <column RightColumn md-9 mb-3 id="Content">
            {{ content }}
          </column>
        </row>
      </container>
    </main>
    <block-footer />
  </body>
</html>