/* [x] The combined CSS isn't recompiled if required by the element. */
/*! The important comment isn't preserved. */
.SideBarMenu {
  /* opacity: 0.5; */
  max-height: 100vh;
  overflow: auto;
}
.SideBarMenu:hover .MenuButton {
  text-shadow: 1px 1px #dedede;
  /* opacity: 1; */
}

.MenuButton {
  display: block;
  color: grey;
}
/* .ShowMenu {
  display: block;
  color: grey;
}
.HideMenu {
  display: none;
  color: grey;
} */

/* .SideBarMenu.sidebarshowing .ShowMenu {
  display: none;
}
.SideBarMenu.sidebarshowing .HideMenu {
  display: block;
} */

.SideBarContent {
  display: none;
}
.SideBarMenu.sidebarshowing .SideBarContent {
  display: block;
}