/*# A debug pretty version for visual diffs */
@keyframes _fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes _fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes _fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@-webkit-keyframes _fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
* {
  box-sizing: border-box;
}
*::before {
  box-sizing: border-box;
}
*::after {
  box-sizing: border-box;
}
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
footer, main {
  display: block;
}
body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}
h1, h2, h3 {
  margin-top: 0;
}
p, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}
ul ul {
  margin-bottom: 0;
}
blockquote {
  margin: 0 0 1rem;
}
strong {
  font-weight: bolder;
}
a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}
a:hover {
  color: #0056b3;
  text-decoration: underline;
}
pre, code {
  font-family: SFMono-Regular , Menlo , Monaco , Consolas , "Liberation Mono" , "Courier New" , monospace;
}
pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}
::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}
h1, h2, h3 {
  margin-bottom: .5rem;
  font-weight: 500;
  line-height: 1.2;
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.75rem;
}
.blockquote {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
code {
  font-size: 87.5%;
  color: #e83e8c;
  word-break: break-word;
}
pre {
  display: block;
  font-size: 87.5%;
  color: #212529;
}
pre code {
  font-size: inherit;
  color: inherit;
  word-break: normal;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width:576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width:768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width:992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width:1200px) {
  .container {
    max-width: 1140px;
  }
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.col, .col-md-3, .col-md-9 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
@media (min-width:768px) {
  .col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-9 {
    -ms-flex: 0 0 75%;
    flex: 0 0 75%;
    max-width: 75%;
  }
}
.btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out , background-color .15s ease-in-out , border-color .15s ease-in-out , box-shadow .15s ease-in-out;
}
@media (prefers-reduced-motion:reduce) {
  .btn {
    transition: none;
  }
}
.btn:hover {
  color: #212529;
  text-decoration: none;
}
.btn:focus {
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(0,123,255,.25);
}
.btn:disabled {
  opacity: .65;
}
.btn-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-info:hover {
  color: #fff;
  background-color: #138496;
  border-color: #117a8b;
}
.btn-info:focus {
  box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
}
.btn-info:disabled {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}
.btn-info:not(:disabled):not(.disabled):active {
  color: #fff;
  background-color: #117a8b;
  border-color: #10707f;
}
.btn-info:not(:disabled):not(.disabled):active:focus {
  box-shadow: 0 0 0 .2rem rgba(58,176,195,.5);
}
.border {
  border: 1px solid #dee2e6 !important;
}
.rounded {
  border-radius: .25rem !important;
}
.d-inline-block {
  display: inline-block !important;
}
.d-flex {
  display: -ms-flexbox !important;
  display: flex !important;
}
.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}
.flex-shrink-0 {
  -ms-flex-negative: 0 !important;
  flex-shrink: 0 !important;
}
.float-right {
  float: right !important;
}
@supports ((position:-webkit-sticky) or (position:sticky)) {
  .sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
  }
}
.h-100 {
  height: 100% !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.mt-auto {
  margin-top: auto !important;
}
.text-center {
  text-align: center !important;
}
@media print {
  * {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  *::before {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  *::after {
    text-shadow: none !important;
    box-shadow: none !important;
  }
  a:not(.btn) {
    text-decoration: underline;
  }
  pre {
    white-space: pre-wrap !important;
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }
  blockquote {
    border: 1px solid #adb5bd;
    page-break-inside: avoid;
  }
  img {
    page-break-inside: avoid;
  }
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }
  h2, h3 {
    page-break-after: avoid;
  }
@page {
    size: a3;
  }
  body, .container {
    min-width: 992px !important;
  }
}
.SectionBreak {
  text-align: center;
}
.hljs {
  font-size: larger;
}
.RightColumn {
  line-height: 1.5rem;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.LeftColumn ul {
  list-style-type: none;
}
.tm, .tm2, .hljs {
  word-break: break-all;
  font-family: 'Source Code Pro' , monospace;
  padding: 0 2px;
  border-radius: 2px;
  cursor: pointer;
  hyphens: none;
  -webkit-hyphens: none;
  -ms-hyphens: none;
}
.tm {
  background-color: #cfffd2;
  border-bottom: 1px solid #90bd93;
  border-right: 1px solid #90db93;
  color: darkgreen;
}
.tm:active:hover {
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #90bd93;
  border-left: 1px solid #90db93;
}
.tm2 {
  background-color: #fffad5;
  color: #a08124;
  border-right: 1px solid #e0d68e;
  border-bottom: 1px solid #dace79;
}
.tm2:active:hover {
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #e0d68e;
  border-left: 1px solid #dace79;
}
body {
  font-family: 'Ruda' , sans-serif;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
  color: #423230;
  text-decoration: underline;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
  color: #50160e;
}
footer {
  padding: 1em;
  border-top: 1px dashed;
}
ul>li.Active {
  font-weight: 700;
}
ul>li.Active>ul {
  font-weight: initial;
}
.SideBarMenu {
  max-height: 100vh;
  overflow: auto;
}
.SideBarMenu:hover .a {
  text-shadow: 1px 1px #dedede;
}
.SideBarMenu .a {
  display: block;
  color: grey;
}
.SideBarMenu .b {
  display: none;
}
.SideBarMenu.c .b {
  display: block;
}
.OnThisPage li.Active>a {
  font-weight: 700;
}
.OnThisPage li.Active~li.Active>a {
  font-weight: normal;
}
.OnThisPage li>ul {
  display: none;
}
.OnThisPage li.Active>ul {
  display: block;
}
.OnThisPage li.Active~li.Active>ul {
  display: none;
}
.OnThisPage {
  -webkit-padding-start: 0;
}
